/*POLICE*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* CLASSES GENERALES */

html,body {
font-family: Raleway
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorblue {
color: #0065fc;
}
.colorlightblue {
color: #deebff;
}
.colorgrey{
color: #f2f2f2;
}

.backblue {
    background-color: #0065fc;
    }
.backlightblue {
    background-color: #deebff;
    }
.backgrey{
    background-color: #f2f2f2;
    }

.bold {
font-weight: bold;
}

.bordurenone {
    border: none;
}

/* NAV */
.sizelogo {
    width: 90px;
    height:50px;
}
.decorationNone {
    text-decoration: none;
}
.sizeLink {
    width: 45%;

}
.sizeLink2 {
    width: 140px;
    height: 99px;
}

.colorLink_2{
    color: black;
}
.bordureNav {
    border-top: 1px solid ;
    color: blue;

}
.bordureNav23
{
    border-top: 1px solid transparent;
}
.margelogo {
    margin-bottom: 7px;
}

/*HEADER*/

.bordureSearch 
{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid ;
    color: #f2f2f2;
}

.paddingSearch {
    padding-left: 20px;
}

.iconSize {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    color: black;
}

.recherche {
    width: 230px;
    height: 50px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.btnsearch {
    width: 120px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    
}